.login-container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-container {
    background-color: #272727;
    border-radius: 12px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    line-height: 1.6;
  }
  .login-img {
    width: 120px;
    text-align: center;
  }
  .input-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .label {
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
  }
  .input {
    border: 1px solid #7e858e;
    background: none;
    background-color: transparent;
    font-size: 14px;
    font-family: 'Roboto';
    padding-left: 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    margin-top: 5px;
    border-radius: 5px;
    color: #f1f5f9;
    outline: none;
  }
  .login-btn {
    background-color: #4f46e5;
    color: #f8fafc;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Roboto';
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
  }
  .error-msg {
    color: #ff0b37;
    font-size: 14px;
    font-family: 'Roboto';
    align-self: flex-start;
    margin-top: 3px;
    line-height: 16px;
  }
  